# Verification Models

::: genshin.models.auth.verification
